<h2>Edit your cat!</h2>

<form action=<%= cat_url(@cat) %> method="post">
  <input type="hidden" name="_method" value="PATCH">
  <%= render partial: "form"%>
  <input type="submit" value="Build my cat!">
</form>